{% extends 'flower_shop/base.html' %}

{% block content %}
<h1>Регистрация</h1>

<!-- Форма регистрации -->
<form method="post">
    {% csrf_token %}

    <!-- Поле "Имя пользователя" -->
    <div>
        <label for="id_username">Имя пользователя:</label>
        {{ form.username }}
        <ul>
            <li>Обязательное поле.</li>
            <li>Не более 150 символов.</li>
            <li>Только буквы, цифры и символы @/./+/-/_.</li>
        </ul>
    </div>

    <!-- Поле "email" -->
    <div>
        <label for="id_email">Email:</label>
        {{ form.email }}
    </div>

    <!-- Поле "Пароль" -->
    <div>
        <label for="id_password1">Пароль:</label>
        {{ form.password1 }}
        <ul>
            <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
            <li>Ваш пароль должен содержать как минимум 8 символов.</li>
            <li>Пароль не должен быть слишком простым и распространенным.</li>
            <li>Пароль не может состоять только из цифр.</li>
        </ul>
    </div>

    <!-- Поле "Подтверждение пароля" -->
    <div>
        <label for="id_password2">Подтверждение пароля:</label>
        {{ form.password2 }}
        <ul>
            <li>Для подтверждения введите, пожалуйста, пароль еще раз.</li>
        </ul>
    </div>

    <!-- Кнопка отправки формы -->
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}